.app-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app-dark{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 25vh;
    background-color: #202020;
}

.app-darker{
    display: flex;
    flex: 1;
    background-color: #181818;
}

.app-darker-totalduration{
    margin: auto;
    text-align: center;
    color: white;
    letter-spacing: 1px;
}