.app-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app-dark{
    height: 25vh;
    background-color: #202020;
}

.app-darker{
    display: flex;
    flex: 1;
    background-color: #181818;
}