.searchbar-container{
    margin-bottom: -42px;
}

input[type=text] {
    position: relative;
    padding: 15px 40px 15px 20px;
    width: 20px;
    color: white;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2px;
    border: none;
    border-radius: 5px;
    background-color: #464646;
    transition: width 0.4s ease;
    outline: none;
}

input[type=text]:focus {
    width: 300px;
}

i {
    position: relative;
    left: -37px;
    color: white;
}

@media (max-width: 400px){
    input[type=text]:focus{
        width: 250px;
    }
}
